# Projet Machine learning

## Imports

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Lecture du csv

In [8]:
data = pd.read_csv("AIDA_Results_IA_Institut.csv")

data.head()

,Start,Diver,Gender,Discipline,Line,Official Top,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event
0,1,Tasos Grillakis (GRC),M,FIM,NaN,00:00,33,23 m,YELLOW,12.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
1,2,Antonis Papantonatos (GRC),M,FIM,NaN,00:00,55,47 m,YELLOW,38.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
2,3,Dimitris Koumoulos (GRC),M,CNF,NaN,00:00,55,55 m,WHITE,55.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
3,4,Christos Papadopoulos (GRC),M,CWT,NaN,00:00,55,55 m,WHITE,55.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
4,5,Anna Chalari (GRC),F,CWT,NaN,00:00,15,15 m,WHITE,15.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other

## Visualisation de données

Dans ces visualisations, nous ne prendrons pas en compte les années précédent 2000 car de 1984 à 1999 seuls des records du monde sont inscrits dans les tables, ce qui équivaut à très peu de données.

In [12]:
# Afficher les types de données des colonnes
print(data.dtypes)

# Convertir la colonne 'Start' en type de données chaîne de caractères (str)
data['Start'] = data['Start'].astype(str)

# Filtrer les données à partir de l'année 2000
data = data[data['Start'].str[:4].astype(int) >= 2000]

Start               int64
Diver              object
Gender             object
Discipline         object
Line              float64
Official Top       object
AP                  int64
RP                 object
Card               object
Points             object
Remarks            object
Title Event        object
Event Type         object
Day                object
Category Event     object
dtype: object