In [1]:
import pandas as pd
import numpy as np
import sys
# Ajout du r√©pertoire src au path pour permettre l'importation des modules
sys.path.append('../src')

from data_processing import *

df = pd.read_csv('../data/raw.csv')
df.head()

,Start,Diver,Gender,Discipline,Line,Official Top,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event
0,1,Tasos Grillakis (GRC),M,FIM,NaN,00:00,33,23 m,YELLOW,12.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
1,2,Antonis Papantonatos (GRC),M,FIM,NaN,00:00,55,47 m,YELLOW,38.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
2,3,Dimitris Koumoulos (GRC),M,CNF,NaN,00:00,55,55 m,WHITE,55.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
3,4,Christos Papadopoulos (GRC),M,CWT,NaN,00:00,55,55 m,WHITE,55.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
4,5,Anna Chalari (GRC),F,CWT,NaN,00:00,15,15 m,WHITE,15.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other

In [2]:
df=clean_and_transform_data(df)
df.head()

,Start,Diver,Gender,Discipline,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event,Month,Experience Dive,Experience Discipline
0,1,Tasos Grillakis (GRC),1,0,33,23 m,YELLOW,12.0,-,Depth Event 2016,Depth Competition,2016-07-17,other,7,0,0
1,2,Antonis Papantonatos (GRC),1,0,55,47 m,YELLOW,38.0,-,Depth Event 2016,Depth Competition,2016-07-17,other,7,0,0
2,3,Dimitris Koumoulos (GRC),1,1,55,55 m,WHITE,55.0,-,Depth Event 2016,Depth Competition,2016-07-17,other,7,0,0
3,4,Christos Papadopoulos (GRC),1,2,55,55 m,WHITE,55.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other,7,0,0
4,5,Anna Chalari (GRC),0,2,15,15 m,WHITE,15.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other,7,0,0

In [3]:
# Identify unexploitable values (e.g., '()' in the 'Diver' column)
# and consider them as NaN for the calculation of missing data.
df.replace({'()': np.nan}, inplace=True)

# Calculate the total percentage of missing data after replacement.
total_cells = np.product(df.shape)
total_missing = df.isnull().sum().sum()
percentage_missing = (total_missing / total_cells) * 100

# Calculate the percentage of missing data per column after replacement.
percentage_missing_per_column = (df.isnull().sum() / df.shape[0]) * 100

# Calculate the number of rows with missing data after replacement.
rows_with_missing = df.isnull().any(axis=1).sum()

# Display the information.
print(f"Total percentage of missing data after replacement: {percentage_missing:.2f}%")
print(f"Percentage of missing data per column after replacement:\n{percentage_missing_per_column}")
print(f"Number of rows with missing data after replacement: {rows_with_missing}")
print(f"Percentage of rows with missing data relative to total rows after replacement: {(rows_with_missing / df.shape[0]) * 100:.2f}%")


df['Diver'] = df['Diver'].str.replace(r"\(\)", "", regex=True)

Total percentage of missing data after replacement: 0.01%
Percentage of missing data per column after replacement:
Start                    0.000000
Diver                    0.096867
Gender                   0.000000
Discipline               0.000000
AP                       0.000000
RP                       0.000000
Card                     0.000000
Points                   0.000000
Remarks                  0.018628
Title Event              0.000000
Event Type               0.000000
Day                      0.000000
Category Event           0.000000
Month                    0.000000
Experience Dive          0.000000
Experience Discipline    0.000000
dtype: float64
Number of rows with missing data after replacement: 31
Percentage of rows with missing data relative to total rows after replacement: 0.12%

In [4]:
df = clean_data(df)
df = prepare_data_for_visualization(df)
df['RP'] = df['RP'].apply(to_int)
save_cleaned_data(df)

In [5]:
df.head()

,Start,Diver,Gender,Discipline,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event,Month,Experience Dive,Experience Discipline,Year
0,1,Tasos Grillakis (GRC),1,0,33,23.0,1.0,12.0,-,Depth Event 2016,Depth Competition,2016-07-17,other,7,0,0,2016
1,2,Antonis Papantonatos (GRC),1,0,55,47.0,1.0,38.0,-,Depth Event 2016,Depth Competition,2016-07-17,other,7,0,0,2016
2,3,Dimitris Koumoulos (GRC),1,1,55,55.0,0.0,55.0,-,Depth Event 2016,Depth Competition,2016-07-17,other,7,0,0,2016
3,4,Christos Papadopoulos (GRC),1,2,55,55.0,0.0,55.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other,7,0,0,2016
4,5,Anna Chalari (GRC),0,2,15,15.0,0.0,15.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other,7,0,0,2016